.menu_List {height: 450px; overflow:auto;}
.menu_List > ul {display:flex; flex-wrap:wrap; gap:30px}
.menu_List > ul > li {width:30%; text-align:center;}
/* dt {width:30%;} */
dt > img {width:100%; border-radius:10px;}